<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="nopCommerce Automation Testing" verbose="1">
    <test name="Run on Chrome">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.nopcommerce.users.Level08_Page_Navigation"/>
        </classes>
    </test>
<!--    <test name="Run on Firefox">-->
<!--        <parameter name="browser" value="firefox"></parameter>-->
<!--        <classes>-->
<!--            <class name="com.nopcommerce.users.Level04_Multiple_Browser"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>